*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-primary-light: #f2f2f2;
  --clr-secondary-light: #c5c1c0;
  --clr-primary-dark: #1a2930;
  --clr-accent: #f2cd3e;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--clr-secondary-light);
}

.header {
  background-color: var(--clr-primary-dark);
  color: var(--clr-primary-light);
  padding: 16px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 48px;
  text-transform: uppercase;
}

.header h1 span {
  font-size: 60px;
}

/** Scoreboard */

.score-board {
  margin: 64px 0;
}

.score-board .container-sm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
}

.score-board .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary-dark);
  color: var(--clr-primary-light);
  border-radius: 20px;
}

.score-board .score-board-card {
  width: 275px;
  height: 175px;
  padding: 16px;
}

.score-board .score-board-card-sm {
  width: 100px;
  height: 100px;
}

.score-board .score-board-card h2 {
  font-size: 32px;
}

.score-board .score-board-card p {
  font-size: 64px;
  font-weight: 700;
}

.score-board .score-board-card-sm p {
  font-size: 32px;
  font-weight: 700;
}


/** Containers */

.container {
  max-width: 80%;
  padding: 0 16px;
  margin: 0 auto;
}

.container-sm {
  max-width: 50%;
  padding: 0 16px;
  margin: 0 auto;
}
